body{
    background-color: aliceblue;
    color: green;
}
h1{
    color: darkred;
    text-align: center;
}
h2{
    color: chocolate;
    text-align: center;
}
p{
    text-align: center;   
}
p:hover{
    color: black;
}
/* img will have rounded borders*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
    filter: brightness(125%);
}
footer{
    font-weight: bolder;    
}
/* below is for the table section*/
#family{
    border-collapse: collapse;
    width: 100%;
}
#family td, #family th{
border: 2px solid red;
}
#family th{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: blue;
    color: aliceblue;
}
/* below is for the second img*/
.container{
    position: relative;
    text-align: center;
    color: azure;
    width: 100%;    
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*adding overlay to img here*/
.image{
    display: block;
    width: 100%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: aliceblue;
}
.container:hover .overlay{
    opacity: 1;
}
.text{
    color: crimson;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* end of image overlay*/
.navbar{
    overflow: hidden;
    background-color: gray;
    position: fixed;
    top: 0;
    width: 100%;    
}
.navbar a{
    float: left;
    display: block;
    color: blue;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: darkgray;
    color: black;
}
*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 50%;
    padding: 15px;
    height: 200px;
    color: chartreuse;
}
.row{
    content: "";
    display: table;
    clear: both;
    margin-top: 15px;
}
/*below is for the video to center it*/
.centers{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    display: block;
}
